In [198]:
import sqlalchemy
from sqlalchemy import create_engine, Table, Column, Integer, String, ForeignKey, MetaData, DateTime, Float
from sqlalchemy.orm.session import Session, sessionmaker, query
from sqlalchemy.ext.declarative import declarative_base
base = declarative_base()

In [199]:
engine = create_engine('sqlite:///child_abuse_detection_db.db',echo=True)

```python
from sqlalchemy import create_engine, Column, Date, ForeignKey, Integer, String
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship, backref
# Setup the back-end sql engine. In this case, sqlite
# Create and instantiate a session class using the defined engine
engine = create_engine('sqlite:///relationships.db', echo=True)
DBSession = sessionmaker(bind=engine)
session = DBSession()
# Initialize a new declarative base which will manage the `Table`
# objects and all the behind the scenes work for the models
Base = declarative_base()
# Inheriting from our `Base`, define each table/model
class Student(Base):
    __tablename__ = 'student'
    id = Column(Integer, primary_key=True)
    name = Column(String, nullable=False)
class Activity(Base):
    __tablename__ = 'activity'
    id = Column(Integer, primary_key=True)
    name = Column(String, nullable=False)
class Enrollment(Base):
    __tablename__ = 'enrollment'
    id_student = Column(ForeignKey(Student.id), primary_key=True)
    id_class = Column(ForeignKey(Activity.id), primary_key=True)
    start_date = Column(Date, nullable=False)
    end_date = Column(Date)
# Because the foreign key is on this table, SQLAlchemy knows
    # these are one to many relationships with the backref being the many
    student = relationship(Student, backref='enrollments')
    activity = relationship(Activity, backref='enrollments')
# Create the tables defined in the base.
Base.metadata.create_all(engine)
```

In [200]:
class Location(base):
    __tablename__ = 'location'
    id = Column(Integer, primary_key=True)
    name = Column(Integer, nullable=False)

In [201]:
class User(base):
    __tablename__ = 'user'
    id = Column(Integer, primary_key=True)
    email = Column(String, nullable=False)
    pw = Column(String, nullable=False)
    office_num = Column(Integer, nullable=False)
    department = Column(String, nullable=False)
    name = Column(String, nullable=False)
    ph_num1 = Column(Integer, nullable=False)
    ph_num2 = Column(Integer, nullable=False)
    ph_num3 = Column(Integer, nullable=False)
    loc_id = Column(ForeignKey(Location.id))

In [202]:
class DaycareCenter(base):
    __tablename__ = 'daycare_center'
    
    id = Column(Integer, primary_key=True)
    name = Column(Integer, nullable=False)
    chief_staff_name = Column(String, nullable=False)
    address = Column(String, nullable=False)
    ph_num1 = Column(Integer, nullable=False)
    ph_num2 = Column(Integer, nullable=False)
    ph_num3 = Column(Integer, nullable=False)
    loc_id = Column(ForeignKey(Location.id))

In [203]:
class Video(base):
    __tablename__ = 'video'
    
    id = Column(Integer, primary_key=True)
    detection_time = Column(Integer, nullable=False)
    name = Column(String, nullable=False)
    accuracy = Column(Float, nullable=False)
    status = Column(String, nullable=False)
    loc_id = Column(ForeignKey(Location.id))
    dc_id = Column(ForeignKey(DaycareCenter.id))

In [204]:
class ReportList(base):
    __tablename__ = 'report_list'
    
    id = Column(Integer, primary_key=True)
    time = Column(Integer, nullable=False) 
    police_name = Column(String, nullable=False) 
    status = Column(String, nullable=False) 

    loc_id = Column(ForeignKey(Location.id))
    dc_id = Column(ForeignKey(DaycareCenter.id))
    vid_id = Column(ForeignKey(Video.id))

In [205]:
base.metadata.create_all(engine)

2021-08-17 22:54:08,662 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-08-17 22:54:08,664 INFO sqlalchemy.engine.base.Engine ()
2021-08-17 22:54:08,665 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-08-17 22:54:08,666 INFO sqlalchemy.engine.base.Engine ()
2021-08-17 22:54:08,667 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("location")
2021-08-17 22:54:08,668 INFO sqlalchemy.engine.base.Engine ()
2021-08-17 22:54:08,670 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("location")
2021-08-17 22:54:08,671 INFO sqlalchemy.engine.base.Engine ()
2021-08-17 22:54:08,672 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("user")
2021-08-17 22:54:08,672 INFO sqlalchemy.engine.base.Engine ()
2021-08-17 22:54:08,674 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("user")
2021-08-17 22:54:08,675 INFO sqlalchemy.engine.base.Engine ()
2021-08-17 22:54:08,676 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("daycare_center")
2021-08-17 22:54:08,677 INFO sqlalchemy.engine.base.Engine ()
2021-08-17 22:54:08,678 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("daycare_center")
2021-08-17 22:54:08,679 INFO sqlalchemy.engine.base.Engine ()
2021-08-17 22:54:08,681 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("video")
2021-08-17 22:54:08,682 INFO sqlalchemy.engine.base.Engine ()
2021-08-17 22:54:08,683 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("video")
2021-08-17 22:54:08,685 INFO sqlalchemy.engine.base.Engine ()
2021-08-17 22:54:08,686 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("report_list")
2021-08-17 22:54:08,688 INFO sqlalchemy.engine.base.Engine ()
2021-08-17 22:54:08,690 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("report_list")
2021-08-17 22:54:08,691 INFO sqlalchemy.engine.base.Engine ()
2021-08-17 22:54:08,693 INFO sqlalchemy.engine.base.Engine
CREATE TABLE location (
	id INTEGER NOT NULL,
	name INTEGER NOT NULL,
	PRIMARY KEY (id)
)


2021-08-17 22:54:08,694 INFO sqlalchemy.engine.base.Engine ()
2021-08-17 22:54:08,720 INFO sqlalchemy.engine.base.Engine COMMIT
2021-08-17 22:54:08,721 INFO sqlalchemy.engine.base.Engine
CREATE TABLE user (
	id INTEGER NOT NULL,
	email VARCHAR NOT NULL,
	pw VARCHAR NOT NULL,
	office_num INTEGER NOT NULL,
	department VARCHAR NOT NULL,
	name VARCHAR NOT NULL,
	ph_num1 INTEGER NOT NULL,
	ph_num2 INTEGER NOT NULL,
	ph_num3 INTEGER NOT NULL,
	loc_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(loc_id) REFERENCES location (id)
)


2021-08-17 22:54:08,722 INFO sqlalchemy.engine.base.Engine ()
2021-08-17 22:54:08,749 INFO sqlalchemy.engine.base.Engine COMMIT
2021-08-17 22:54:08,751 INFO sqlalchemy.engine.base.Engine
CREATE TABLE daycare_center (
	id INTEGER NOT NULL,
	name INTEGER NOT NULL,
	chief_staff_name VARCHAR NOT NULL,
	address VARCHAR NOT NULL,
	ph_num1 INTEGER NOT NULL,
	ph_num2 INTEGER NOT NULL,
	ph_num3 INTEGER NOT NULL,
	loc_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(loc_id) REFERENCES location (id)
)


2021-08-17 22:54:08,752 INFO sqlalchemy.engine.base.Engine ()
2021-08-17 22:54:08,775 INFO sqlalchemy.engine.base.Engine COMMIT
2021-08-17 22:54:08,777 INFO sqlalchemy.engine.base.Engine
CREATE TABLE video (
	id INTEGER NOT NULL,
	detection_time INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	accuracy FLOAT NOT NULL,
	status VARCHAR NOT NULL,
	loc_id INTEGER,
	dc_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(loc_id) REFERENCES location (id),
	FOREIGN KEY(dc_id) REFERENCES daycare_center (id)
)


2021-08-17 22:54:08,778 INFO sqlalchemy.engine.base.Engine ()
2021-08-17 22:54:08,798 INFO sqlalchemy.engine.base.Engine COMMIT
2021-08-17 22:54:08,799 INFO sqlalchemy.engine.base.Engine
CREATE TABLE report_list (
	id INTEGER NOT NULL,
	time INTEGER NOT NULL,
	police_name VARCHAR NOT NULL,
	status VARCHAR NOT NULL,
	loc_id INTEGER,
	dc_id INTEGER,
	vid_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(loc_id) REFERENCES location (id),
	FOREIGN KEY(dc_id) REFERENCES daycare_center (id),
	FOREIGN KEY(vid_id) REFERENCES video (id)
)


2021-08-17 22:54:08,801 INFO sqlalchemy.engine.base.Engine ()
2021-08-17 22:54:08,828 INFO sqlalchemy.engine.base.Engine COMMIT

# Creating Dummy Data

In [206]:
import numpy as np
import datetime
import time
import string

In [207]:
sess = sessionmaker()
session = sess(bind=engine)

In [208]:
def create_random_phone_num():
    num1 = 10
    num2 = np.random.randint(0,10000)
    num3 = np.random.randint(0,10000)
    return num1, num2, num3

In [209]:
def create_random_name():
    lastname = list('김이박최정강조윤장임한오서신권황안송류전')
    firstname = ['정웅','영철','영식','영철','성진','정운','준혁','준서',
                 '영길','정수','성수','정호','지훈','동현','준호','민재',
                 '영일','종수','성호','영진','상훈','성호','준영','민석',
                 '도현','건우','예준','정수','정식','상철','병철','성민',
                 '민수','지훈','예준','건우','정남','정호','종수','진호',
                 '영진','준호','준호','준혁','준영','현준','광수','영환',
                 '영자','순자','미경','미영','지영','지혜','유진','서연',
                 '정자','미숙','은정','지은','민지','민서','정순','경회',
                 '수빈','서현','영숙','경숙','은영','현정','혜진','지원',
                 '경자','은경','은영','지영','지은','민지','예은','지민']
    last = np.random.choice(lastname, 1)
    first = np.random.choice(firstname,1)
    return last[0] + first[0]

In [210]:
def create_random_time():
    return np.random.randint(0,164000000,10) * 10

In [211]:
def create_random_email():
    alpha = list(string.ascii_lowercase)
    number = list('0123456789')
    domain = ['gmail.com','naver.com','google.com','daum.net','aspo.dor','foke.ok','github.io','please.work','korea.ac.kr','kakao.com']
    n = np.random.randint(1,7)
    k = 10-n
    return ''.join(np.random.choice(alpha,n)) + ''.join(np.random.choice(number,k)) + '@'+''.join(np.random.choice(domain,1))

In [212]:
def create_random_password():
    alpha = list(string.ascii_lowercase)
    number = list('0123456789')
    data = alpha + number
    return ''.join(np.random.choice(data,10))

In [213]:
def create_random_office_num():
    number = list('123456789')
    return ''.join(np.random.choice(number,8))

In [214]:
def create_random_department():
    dep = '''균형발전본부, 균형발전기획관, 균형발전정책과, 도시활성화과, 주거재생과, 주거환경과, 도심권사업과, 한옥정책과, 안전총괄실, 안전총괄관, 안전총괄과, 상황대응과, 시설안전과, 도로계획과, 광화문광장추진단, 감염병연구센터, 여성가족정책실, 여성권익담당관, 여성정책담당관, 보육담당관, 외국인다문화담당관, 가족담당관, 아이돌봄담당관, 온마을돌봄추진단, 공공개발기획단, 동물보호과, 미래청년기획단, 청년정책반, 청년사업반, 국제교류담당관, 인생이모작담당관, 행정국, 총무과, 인사과, 자치행정과, 인력개발과, 정보공개정책과, 법률자문검사, 국회협력관, 시장단, 코로나19대응지원과, 1인가구특별대책추진단, 기획조정실, 정책기획관, 기획담당관, 조직담당관, 평가협업담당관, 법무담당관, 대외협력담당관, 재정기획관, 예산담당관, 재정담당관, 공기업담당관, 법률지원담당관, 식품정책과, 복지정책실, 복지기획관, 복지정책과, 지역돌봄복지과, 어르신복지과, 자활지원과, 시민건강국, 보건의료정책과, 건강증진과, 감염병관리과, 비상기획관, 민방위담당관, 도로관리과, 도로시설과, 건설혁신과, 동남권사업과, 동북권사업과, 서부권사업과, 교량안전과, 대변인, 언론담당관, 인권담당관, 시민소통기획관, 시민소통담당관, 시민봉사담당관, 뉴미디어담당관, 도시브랜드담당관, 장애인자립지원과, 장애인복지정책과, 시민봉사담당관(열린민원실)'''
    department = re.sub(' ','',dep).split(',')
    return np.random.choice(department,1)[0]

In [215]:
def convert_datetime(unixtime):
    """Convert unixtime to datetime"""
    date = datetime.datetime.fromtimestamp(unixtime).strftime('%Y-%m-%d %H:%M:%S')
    return date # format : str

def convert_unixtime(date_time):
    """Convert datetime to unixtime"""
    unixtime = datetime.datetime.strptime(date_time,'%Y-%m-%d %H:%M:%S').timestamp()
    return unixtime

In [216]:
for i in range(10):
    p_num1,p_num2, p_num3 = create_random_phone_num()
    user_1 = User(email=create_random_email(), 
                  pw=create_random_password(), 
                  office_num=create_random_office_num(),
                  department=create_random_department(),
                  name=create_random_name(),
                  ph_num1=p_num1,
                  ph_num2=p_num2,
                  ph_num3=p_num3, 
                  loc_id=i+2)
    session.add(user_1)

In [217]:
session.add(user_1)
session.commit()

2021-08-17 22:54:13,707 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-08-17 22:54:13,710 INFO sqlalchemy.engine.base.Engine INSERT INTO user (email, pw, office_num, department, name, ph_num1, ph_num2, ph_num3, loc_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-08-17 22:54:13,711 INFO sqlalchemy.engine.base.Engine ('ey00057189@google.com', '640uocanhy', '46252866', '감염병연구센터', '류준혁', 10, 8138, 5281, 2)
2021-08-17 22:54:13,715 INFO sqlalchemy.engine.base.Engine INSERT INTO user (email, pw, office_num, department, name, ph_num1, ph_num2, ph_num3, loc_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-08-17 22:54:13,716 INFO sqlalchemy.engine.base.Engine ('c912956357@kakao.com', 'wrh7hrewdt', '99488697', '공공개발기획단', '장지혜', 10, 5010, 5683, 3)
2021-08-17 22:54:13,717 INFO sqlalchemy.engine.base.Engine INSERT INTO user (email, pw, office_num, department, name, ph_num1, ph_num2, ph_num3, loc_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-08-17 22:54:13,718 INFO sqlalchemy.engine.base.Engine ('kmvc038944@foke.ok', 'toxnsljowf', '99339438', '언론담당관', '류민서', 10, 2551, 7169, 4)
2021-08-17 22:54:13,719 INFO sqlalchemy.engine.base.Engine INSERT INTO user (email, pw, office_num, department, name, ph_num1, ph_num2, ph_num3, loc_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-08-17 22:54:13,720 INFO sqlalchemy.engine.base.Engine ('hwwvzh2815@foke.ok', '2mdmwwyggm', '68223516', '인력개발과', '전정호', 10, 9707, 743, 5)
2021-08-17 22:54:13,721 INFO sqlalchemy.engine.base.Engine INSERT INTO user (email, pw, office_num, department, name, ph_num1, ph_num2, ph_num3, loc_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-08-17 22:54:13,722 INFO sqlalchemy.engine.base.Engine ('dn68946661@github.io', '4vu41260y8', '41347772', '공기업담당관', '한은경', 10, 1359, 2481, 6)
2021-08-17 22:54:13,724 INFO sqlalchemy.engine.base.Engine INSERT INTO user (email, pw, office_num, department, name, ph_num1, ph_num2, ph_num3, loc_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-08-17 22:54:13,725 INFO sqlalchemy.engine.base.Engine ('kj07787092@korea.ac.kr', 'ycf2nh535v', '59422461', '뉴미디어담당관', '안예준', 10, 6598, 8186, 7)
2021-08-17 22:54:13,726 INFO sqlalchemy.engine.base.Engine INSERT INTO user (email, pw, office_num, department, name, ph_num1, ph_num2, ph_num3, loc_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-08-17 22:54:13,727 INFO sqlalchemy.engine.base.Engine ('bdbjq50386@daum.net', 'j6zqyihn13', '22315895', '시민봉사담당관', '황영철', 10, 5483, 6041, 8)
2021-08-17 22:54:13,728 INFO sqlalchemy.engine.base.Engine INSERT INTO user (email, pw, office_num, department, name, ph_num1, ph_num2, ph_num3, loc_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-08-17 22:54:13,729 INFO sqlalchemy.engine.base.Engine ('w476676895@foke.ok', '31i88rnuak', '84439325', '안전총괄실', '송정운', 10, 6424, 1357, 9)
2021-08-17 22:54:13,733 INFO sqlalchemy.engine.base.Engine INSERT INTO user (email, pw, office_num, department, name, ph_num1, ph_num2, ph_num3, loc_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-08-17 22:54:13,734 INFO sqlalchemy.engine.base.Engine ('ow49644088@gmail.com', '1sjufa8j86', '69155994', '기획조정실', '권예은', 10, 8311, 6091, 10)
2021-08-17 22:54:13,736 INFO sqlalchemy.engine.base.Engine INSERT INTO user (email, pw, office_num, department, name, ph_num1, ph_num2, ph_num3, loc_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-08-17 22:54:13,737 INFO sqlalchemy.engine.base.Engine ('ekxqq54334@naver.com', 'vb09yw8ynq', '97159788', '법무담당관', '오유진', 10, 3372, 4503, 11)
2021-08-17 22:54:13,739 INFO sqlalchemy.engine.base.Engine COMMIT

In [218]:
location_list = '''강남구,강동구,강북구,강서구,관악구,광진구,구로구,금천구,노원구,도봉구,동대문구,동작구,마포구,서대문구,서초구,성동구,성북구,송파구,양천구,영등포구,용산구,은평구,종로구,중구,중랑구'''.split(',')

In [219]:
for idx, loc in enumerate(location_list):
    location = Location(id=idx+1, name='서울특별시 '+loc)
    session.add(location)
session.commit()

2021-08-17 22:54:17,977 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-08-17 22:54:17,979 INFO sqlalchemy.engine.base.Engine INSERT INTO location (id, name) VALUES (?, ?)
2021-08-17 22:54:17,980 INFO sqlalchemy.engine.base.Engine ((1, '서울특별시 강남구'), (2, '서울특별시 강동구'), (3, '서울특별시 강북구'), (4, '서울특별시 강서구'), (5, '서울특별시 관악구'), (6, '서울특별시 광진구'), (7, '서울특별시 구로구'), (8, '서울특별시 금천구')  ... displaying 10 of 25 total bound parameter sets ...  (24, '서울특별시 중구'), (25, '서울특별시 중랑구'))
2021-08-17 22:54:17,990 INFO sqlalchemy.engine.base.Engine COMMIT

In [220]:
for idx, loc in enumerate(location_list):
    print(idx+1, loc )

1 강남구
2 강동구
3 강북구
4 강서구
5 관악구
6 광진구
7 구로구
8 금천구
9 노원구
10 도봉구
11 동대문구
12 동작구
13 마포구
14 서대문구
15 서초구
16 성동구
17 성북구
18 송파구
19 양천구
20 영등포구
21 용산구
22 은평구
23 종로구
24 중구
25 중랑구

In [ ]:
for i in range(10):
    dcc = DaycareCenter(
        p_num1,p_num2, p_num3 = create_random_phone_num()
        id=,
        name=,
        chief_staff_name=,
        address=,
        ph_num1=2,
        ph_num2=p_num2,
        ph_num3=p_num3, 
        loc_id= 
    )
    session.add(dcc)
session.commit()